@import '~assets/styles/core/mixins';

.g-page {
  &__header-block {
    @include flex-align-center();

    justify-content: space-between;

    &_margin {
      margin-bottom: 24px;
    }
  }

  &__button {
    height: 40px;
    text-transform: uppercase;

    &_text {
      margin-left: 8px;
    }
  }
}
